@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');

/** Login page style start **/
.loginContainer {
    margin: auto;
    margin-top: 8rem;
    width: 25%;
    border: 2px #F0F0F0 solid;
    border-radius: 3rem;
    padding: 2rem;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
}

.title {
    font-weight: bold;
    text-align: center;
    font-family: "Unbounded", sans-serif;
    font-size: 1.3rem;
    margin-top: 0.5rem;
}

.forgotLink {
    text-decoration: none;
    font-size: 0.85rem;
    text-align: end;
    margin-top: 0.75rem;
}

.loginFooter {
    background-color: #DBDBDB;
    text-align: center;
    padding: 1rem;
    font-weight: bold;
    width: 100%;
    margin-top: 16rem;
    font-size: 0.85rem;
    opacity: 0.8;
}

/** Admin Add user style start **/
.addContainer {
    width: 70%;
    background-color: #F7F7F7;
    border: 2px #F0F0F0 solid;
    border-radius: 2rem;
    margin: auto;
    padding: 1rem;
}


/** Staff style start **/
.staffContainer {
    display: flex;
}

.sideBar {
    width: 15rem;
    height: 50rem;
    background-color: #3370FF;
    margin-top: 1rem;
    padding: 1rem;
    border-start-end-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}

.main{
    margin: 2rem;
}

.cards{
    margin: auto;
    margin-left: 3rem;
}
.card-group{
    gap: 8rem;
    text-align: center;
}

.card-group .card{
    width: 22rem;
    box-shadow: 8px 4px 6px #D9D9D9;
}